.sidebar {
    display: block;
    box-sizing: border-box;
    width: 40%;
    padding: 40px;
    float: left;
    overflow: hidden;
    text-align: center;
}

.image-section {
    display: inline-flex;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.figure {
    width: 100%;
    box-sizing: border-box;
}

.info-name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
}

.info {
    line-height: 30px;
    letter-spacing: 0.02rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 14px;
}